body {
    display: flex;
    background-color: #2c2c2c;
    justify-content: center;
    align-items: center;
}

p {
    width: 96vw;
    height: 9vh;
    font-size: larger;
    color: #ffffff;
    margin: 0;
    transition: 0.4s ease;
    text-align: start;
    font-weight: 100;
}

.slider {
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    row-gap: 2vh;
    justify-content: space-between;
}

@media (max-width:600px){
    .slider {
        width: 96vw;
    }
}

.picture-slider-conteiner {
    display: flex;
    width: 33vw;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
}

.img {
    height: 100%;
    width: 33vw;
    border-radius: 4%;
    transition: 0.4s;
}

@media (max-width:600px){
    .picture-slider-conteiner {
        width: 96vw;
    }
    .img {
        width: 96vw;    
    }
}

.text-and-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

@media (max-width:600px){
    .text-and-controls {
        flex-direction: column-reverse;
        row-gap: 2vh;
    }
}

.text-conteiner {
    width: 70%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

@media (max-width:600px){
    .text-conteiner {
        width: 100%;
    }
}

.text-slider {
    display: flex;
    width: 384vw;
    flex-wrap: nowrap;
    flex-direction: row;
}

.controls {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;   
}

@media (max-width:600px){
    .controls {
        width: 100%;
        justify-content: center
    }
}

.control-conteiner {
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-conteiner:hover {
    cursor: pointer;
 }

.control-conteiner:hover > label {
    cursor: pointer;
    background-color: #ffffff;
    border: 0.3vh solid #ffffff;
 }

input {
    display: none;
}

.control {
    width: 1vh;
    height: 1vh;
    cursor: pointer;
    background-color: #6e9ffc;
    border-radius: 100%;
    transition: 0.4s;
    border: 0.3vh solid #6e9ffc;
 }
 
 .control:hover {
    background-color: #ffffff;
    border: 0.3vh solid #ffffff;
 }

#silence:checked ~ .picture-slider-conteiner > #first-img {
    margin-left: 0;
 }
 
 #pedro:checked ~ .picture-slider-conteiner > #first-img {
    margin-left: -100%;
 }
 
 #casino:checked ~ .picture-slider-conteiner > #first-img {
    margin-left: -200%;
 }
 
 #boyvsgirl:checked ~ .picture-slider-conteiner > #first-img {
    margin-left: -300%;
 }

 #silence:checked ~ .text-and-controls > .controls > .control-conteiner > .control[for='silence'] {
    background-color: #ffffff00;
 }
 
 #pedro:checked ~ .text-and-controls > .controls > .control-conteiner > .control[for='pedro'] {
    background-color: #ffffff00;
 }
 
 #casino:checked ~ .text-and-controls > .controls > .control-conteiner > .control[for='casino'] {
    background-color: #ffffff00;
 }
 
 #boyvsgirl:checked ~ .text-and-controls > .controls > .control-conteiner > .control[for='boyvsgirl'] {
    background-color: #ffffff00;
 }

 #silence:checked ~ .text-and-controls > .text-conteiner > .text-slider > #first-img-text {
    margin-left: 0;
 }
 
 #pedro:checked ~ .text-and-controls > .text-conteiner > .text-slider > #first-img-text {
    margin-left: -25%;
 }
 
 #casino:checked ~ .text-and-controls > .text-conteiner > .text-slider > #first-img-text {
    margin-left: -50%;
 }
 
 #boyvsgirl:checked ~ .text-and-controls > .text-conteiner > .text-slider > #first-img-text {
    margin-left: -75%;
 }
