body {
    display: flex;
    background-color: slategray;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 25vw;
}

.slider {
    width: fit-content;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.picture-slider-conteiner {
    width: 25vw;
    overflow: hidden;
}

.picture-slider {
    width: 9999vw;
}

.img {
    max-width: 25vw;
    border-radius: 4%;
}

.text-and-controls {
    display: flex;
    flex-direction: row;
}

.text-conteiner {
    width: 25vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.text-slider {
    display: flex;
    width: 9999vw;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
}